body {
  background-color: black;
}

 /*BANNER*/

.banner {
  min-height: 100vh;
  position: relative;
}

.banner-content {
  /*vertically centering content on any device*/
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  margin-bottom: 10px;
}

.wrapper {
  height: auto;
  padding: 50px;
  text-align: center;
}

.infos {
  font-size: 20px;
  padding: 10px;
}

.wrapper h4 {
  margin-bottom: 50px;
}

.infos i {
  font-size: 40px;
  margin: 10px;
}

 /*VERTICAL LAYERS*/

.vertical-layer {
  width: 34%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.vertical-layer:hover p {
  opacity: 1;
}

.layer-content {
  color: white;
  text-align: center;
}

.layer-content p {
  opacity: 0;
}

@media screen and (min-width: 640px) {
  .layer-content h3 {
  font-weight: 600;
  /*vertically centering content on any device*/
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  }
}

@media screen and (max-width: 640px) {
  .layer-content h3 {
    font-weight: 500;
    font-size: 40px;
    transform: rotate(90deg);
    margin-top: 50px;
  }
}

.footer {
  height: auto;
  width: 100%;
  color: lightgrey;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  position: relative;
}

.footer i {
  color: white;
  font-size: 25px;
  margin-right: 20px;
}

.facebook-icon:hover i {
  color: #3B5998;
}

.google-icon:hover i {
  color: red;
}

.signature {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 10px;
  font-style: italic;
  padding-bottom: 0;
  margin: 0;
}

/* IDs Specifications
   by order of apparition in the page */

/* To avoid the layer to overstep on previous div when zoomed out, set index of div higher */
#intro {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(https://static.pexels.com/photos/474/black-and-white-car-vehicle-vintage.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: white;
}

#wrap1 {
  z-index: 2;
  background-color: white;
}

#specialities {
  z-index: 1;
}

#layer1 {
  background-image: url("https://static.pexels.com/photos/9416/light-car-display-shop.jpg");
  position: absolute;
  left:0px;
}

#layer1:hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://static.pexels.com/photos/9416/light-car-display-shop.jpg");
  }

#layer2 {
  background-image: url("https://static.pexels.com/photos/10644/photo-1442188950719-e8a67aea613a.jpeg");
  position: absolute;
  left: 33%;
}

#layer2:hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://static.pexels.com/photos/10644/photo-1442188950719-e8a67aea613a.jpeg");
  }

#layer3 {
  background-image: url("https://static.pexels.com/photos/10644/photo-1442188950719-e8a67aea613a.jpeg");
  position: absolute;
  left: 66%;
}

#layer3:hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://static.pexels.com/photos/10644/photo-1442188950719-e8a67aea613a.jpeg");
  }


/* Hover.css Copyright Ian Lunn 2014. Generated with Sass.
 Grow*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
